<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<filter>
		<filter-name>charFilter</filter-name>
		<filter-class>com.cos.hello.config.CharFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>attackFilter</filter-name>
		<filter-class>com.cos.hello.config.AttackFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>joinFilter</filter-name>
		<filter-class>com.cos.hello.config.JoinFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.cos.hello.config.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>charFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>attackFilter</filter-name>
		<url-pattern>/user</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>joinFilter</filter-name>
		<url-pattern>/user</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/user</url-pattern>
	</filter-mapping>

	<!-- 왜 URI를 사용했는가?? 모든 정보의 한곳에 다 모아서 관리하기 위해서. -->

	<!-- 마법의 필터. -->
	<!-- /front가 실행되면 <servlet-class>가 실행된다. -->
	<servlet>
		<servlet-name>userController</servlet-name>
		<servlet-class>com.cos.hello.controller.UserController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>boardController</servlet-name>
		<servlet-class>com.cos.hello.controller.BoardController</servlet-class>
	</servlet>

	<!-- XML로 코드를 만드는 이유 -->
	<!-- 코드를 변경해도 컴파일을 하지 않기 때문이다. -->
	<servlet-mapping>
		<servlet-name>userController</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>boardController</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>




</web-app>
	
	